body {
	
	background-color: #FFFFFF;
}


h1 {
	color: #00008B;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

}

.col-5{
	width:50%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display:flex;

}

p {
	font-family: palatino, georgia, serif;
	font-size: 18px;
	line-height: 1.5em;
}

strong {
			font-size:30px;
}


