body {
	
	background-color: #FFFFFF;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
  article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

 div{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
h1 {
	color: #00008B;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: horizontal; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color:#8c2020;
  padding: 20px;
}
.col-5{
	width:50%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display:flex;

}

p {
	font-family: palatino, georgia, serif;
	font-size: 18px;
	line-height: 1.5em;
}

strong {
			font-size:30px;
}

  aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}


 footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}


#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
